@layer theme, base, components, utilities;

@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-knuBlue: #033884;
  --color-knuBlue-pointer: #002c6c;
  --color-knuGreen: #23955c;
  --color-bgColor: #f5f7fa;
  --color-positive: #3f8cff;
  --color-negative: #ff6e65;
  --color-kongju: #db5039;
  --color-chenan: #308c9b;
  --color-yesan: #e1971c;
  --color-gray1: #f0f0f0;
  --color-gray2: #d3d3d3;
  --color-gray3: #a6a6a6;
  --color-gray4: #757575;
  --color-gray5: #757575;
  --font-pretendard: 'Pretendard-Regular';
}
